.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
    padding: 2em 0 1.75em;

    .logo {
        display: inline-block;
        width: 118px;
        height: 18px;
        svg { width: 100%; height: auto; }
    }
}

.main-nav {
    margin-top: 2em;
    ul {
        margin: 0 auto;
        li {
            display: inline-block;
            padding: 0 1em;
        }
        a {
            display: block;
            padding: 0.5em;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

.hamburger {
    display: none;
    position: absolute;
    top: 2em;
    left: 2em;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 18px;
    cursor: pointer;

    .hamburger-inner {
        display: block;
        margin-top: -2px;
        top: 2px;
        transition: background-color 0s linear .13s;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $hamburger-color;
        &:before, &:after {
            display: block;
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            background-color: $hamburger-color;
        }
        &:before {
            top: 8px;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
        &:after {
            width: 12px;
            top: 16px;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
    }

    .is-active & {
        .hamburger-inner {
            transition-delay: .22s;
            background-color: transparent!important;
            &:before, &:after {
                background-color: $hamburger-color;
            }
            &:before {
                top: 0;
                transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(45deg);
            }
            &:after {
                width: 20px;
                top: 0;
                transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(-45deg);
            }
        }
    }
}


@media only screen and (max-width: $mobile-width) {
    .main-nav {
        margin-top: 0;
        position: absolute;
        width: 100%;
        top: 81px;
        background-color: $secondary-color;
        padding: 1em 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in;

        ul {
            li {
                display: block;
                padding: 0;
                a {
                    display: block;
                    color: #fff;
                    width: 100%;
                    font-size: 14px;
                    padding: 1em;
                }
            }
        }

        &.is-active {
            visibility: visible;
            opacity: 1;
        }
    }
    .hamburger {
        display: block;
    }
}