.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url('../img/coming-soon.placeholder.jpg') no-repeat center center fixed; 
    background-size: cover;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 100%;
        height: 110%;
    }

    .logo {
        position: absolute;
        top: 40px;
        left: 50%;
        max-width: 118px;
        transform: translate(-50%,0);
        z-index: 1;
        svg { width: 100%; height: auto; }
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        color: #fff;
        font-size: 54px;
        line-height: 63px;
        letter-spacing: 6px;
        margin: 0;
        white-space: nowrap;

        &:before, &:after {
            position: absolute;
            top: 50%;
            content: "";
            display: block;
            width: 141.42px;
            height: 1px;
            background-color: #fff;
            transform: rotate(-45deg) translate(0,-50%);
        }
        &:before {
            right: 110%;
        }
        &:after {
            left: 110%;
        }
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 0;
        text-align: center;
        padding: 0 37px;
        small {
            color: #fff;
            font-size: 18px;
            font-weight: $font-weight-light;
        }
    }
}

.display-desktop { display: block; }
.display-mobile { display: none; }

@media only screen and (max-width: $tablet-width) {
    .hero {
        h1 {
            &:before, &:after {
                right: auto;
                left: 50%;
                transform: rotate(-45deg) translate(-50%,-50%);
                margin-left: -20px;
            }
            &:before {
                top: -310%;
            }
            &:after {
                top: 210%;
            }
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .display-desktop { display: none; }
    .display-mobile { display: block; }

    .hero {
        .logo {
            top: 30px;
            max-width: 92px;
        }

        h1 {
            font-size: 30px;
            line-height: 35px;

            &:before, &:after {
                width: 83.44px;
                margin-left: -14px;
            }
            &:before {
                top: -310%;
            }
            &:after {
                top: 210%;
            }
        }
        footer {
            bottom: 30px;
            small { font-size: 15px; }
        }
    }
}