$mobile-width: 767px;
$tablet-width: 991px;

$font-color: #555;
$hover-color: #ccc;
$border-color: #989898;
$hamburger-color: #bbb;
$secondary-color: #E2B77C;

$font-weight-light: 300;

$container-width: 930px;